LINKEDIN_URL=""
DISCORD_WEBHOOK=""
DB_URI=""
DB_TABLE="opportunities_table"
PALM_API_KEY=""
GH_INTERN24_URL="https://github.com/pittcsc/Summer2024-Internships"
LINKEDIN_INTERN_URL=""
PROMPTS_PATH=""
MESSAGE_PATH=""
