name: Daily Data Retrieval Automation

on:
  schedule:
    # TODO - Fix this time issue
    - cron: "0 0 */2 * *" # Runs every other day at 12AM UTC (5PM PST the next day)
  workflow_dispatch: # Allow manual trigger

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install Python packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run script
        run: python main.py --days-needed 2 # Custom CLI Command
        env:
          RAPID_API_KEY: ${{ secrets.RAPID_API_KEY}}
          RAPID_API_URL: ${{ secrets.RAPID_API_URL}}
          LINKEDIN_URL: ${{ secrets.LINKEDIN_URL}}
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK}}
          DB_URI: ${{ secrets.DB_URI}}
          DB_TABLE: ${{ secrets.DB_TABLE}}
